@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --background: #ffffff;
  --foreground: #171717; */
}

@media (prefers-color-scheme: dark) {
  /* :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  } */
}

body {
  /* color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif; */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.loader {
  position: relative;
  width: 74px;
  height: 70px;
}
.loader::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  background: #850585;
  width: 74px;
  height: 42px;
  border-radius: 0 0 50px 50px;
  animation: move 0.5s linear infinite alternate;
}
.loader::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 0;
  background: #e3d341;
  width: 24px;
  height: 24px;
  transform: translateX(-50%) rotate(0deg);
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  100% { transform: translateX(-50%) rotate(360deg)}
}
@keyframes move {
  0% { transform: rotate(10deg)}
  100% { transform: rotate(-10deg)}
}

.loading {
  position: relative;
}
.loading:after {
  content: '';
  background: #07887b;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 52px;
  height: 52px;
  border-radius:5px;
  transform-origin: -16px -32px;
  animation: loading 1s linear infinite;
}
@keyframes loading {
   0% , 100% {
      transform: rotate(-45deg)  translate(-50% , -50%)
    }
   50% {
      transform: rotate(-245deg)  translate(-50% , -50%)
   }
}

.vidNotFound {
    position: relative;
    width: 75px;
    height: 75px;
    background: linear-gradient(to right, #ece3e3 20%, #0000 21%);
    background-repeat: repeat-x;
    background-size: 36px 8px;
    background-position: 9px bottom;
    animation: moveX 0.5s linear infinite;
  }
  .vidNotFound::before  {
    content: '';
    position: absolute;
    width: 56px;
    height: 56px;
    border-radius: 2px;
    background-color: #e70e0e;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50% );
    animation: idNotFound 0.5s linear infinite;
}

@keyframes moveX {
  0%, 25%{    background-position: 10px bottom }
  75% , 100% {background-position: -30px bottom;}
}
@keyframes idNotFound {
  0%, 25% { transform:translate(-50% , -50% ) rotate(0deg)}
  75%,  100% { transform:translate(-55% , -55% ) rotate(90deg)}
}

.globalNotLoader {
  position: relative;
  height: 40px;
  width: 6px;
  color: #f3f5f3;
  animation: paddles 0.75s ease-out infinite;
}
.globalNotLoader:before {
  content: "";
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 15px;
  width: 12px;
  height: 12px;
  background-color: #27f5d6;
  border-radius: 50%;
  animation: ballbounce 0.6s ease-out infinite;
}

@keyframes paddles {
  0% { box-shadow: -25px -10px, 25px 10px}
  50% { box-shadow: -25px 8px, 25px -10px }
  100% { box-shadow: -25px -10px, 25px 10px}
}
@keyframes ballbounce {
  0% { transform: translateX(-20px) scale(1, 1.2) }
  25% { transform: scale(1.2, 1) }
  50% { transform: translateX(15px) scale(1, 1.2) }
  75% { transform: scale(1.2, 1) }
  100% { transform: translateX(-20px) }
}

.scrollbar-hidden::-webkit-scrollbar {
    display: none;
}

.scrollbar-hidden {
    -ms-overflow-style: none; 
    scrollbar-width: none;
}
